@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
}


.results{
    margin-bottom: 25px;
    border: 2px solid white;
    padding: 25px;
    border-radius: 4px;
}

.buttons{
    display: flex;
    gap: 10px;
}


.rock-btn{
    color: lightcoral;
    padding: 5px 10px;
    border: 2px solid lightcoral;
    border-radius: 3px;
}

.rock-btn:hover{
    background-color: lightcoral;
    color: black;
    cursor: pointer;
}

.scissors-btn{
    color: gold;
    padding: 5px 10px;
    border: 2px solid gold;
    border-radius: 3px;
}

.scissors-btn:hover{
    background-color: gold;
    color: black;
    cursor: pointer;
}

.paper-btn{
    color: lightskyblue;
    padding: 5px 10px;
    border: 2px solid lightskyblue;
    border-radius: 3px;
}

.paper-btn:hover{
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
}






